In [159]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [160]:
features_train = pd.read_csv(filepath_or_buffer='data/dengue_features_train.csv')
labels_train = pd.read_csv(filepath_or_buffer='data/dengue_labels_train.csv')
testset = pd.read_csv(filepath_or_buffer='data/dengue_features_test.csv')

In [161]:
features_train.drop(['year','weekofyear','reanalysis_sat_precip_amt_mm'],axis=1,inplace=True)
testset.drop(['year','weekofyear','reanalysis_sat_precip_amt_mm'],axis=1,inplace=True)

In [162]:
dataset = features_train.copy()
dataset['total_cases'] = labels_train['total_cases']

In [163]:
dataset.head()

,city,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
0,sj,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,299.8,295.9,32.00,73.365714,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1,sj,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,293.951429,300.9,296.4,17.94,77.368571,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
2,sj,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,295.434286,300.5,297.3,26.10,82.052857,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
3,sj,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,295.310000,301.4,297.0,13.90,80.337143,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
4,sj,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,295.821429,301.9,297.5,12.20,80.460000,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6

In [164]:
dataset['week_start_date'] =  pd.to_datetime(dataset['week_start_date'])
testset['week_start_date'] =  pd.to_datetime(testset['week_start_date'])

In [165]:
dataset = dataset.set_index('week_start_date')
testset = testset.set_index('week_start_date')

In [166]:
dataset['full_count'] = dataset.apply(lambda x: x.count(), axis=1)

In [167]:
dataset.shape

(1456, 22)

In [168]:
indexNames_train = dataset[ dataset['full_count'] < 15 ].index

In [169]:
dataset.drop(indexNames_train , inplace=True)

In [170]:
dataset.drop(['full_count'],axis=1,inplace=True)

In [171]:
dataset.interpolate('time',inplace=True, limit_direction='both')
testset.interpolate('time',inplace=True, limit_direction='both')

In [172]:
dataset.shape

(1446, 21)

In [173]:
labels_train.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [174]:
dataset_sj = dataset[dataset.city == 'sj'].drop('city',axis=1)
dataset_iq = dataset[dataset.city == 'iq'].drop('city',axis=1)
testset_sj = testset[testset.city == 'sj'].drop('city',axis=1)
testset_iq = testset[testset.city == 'iq'].drop('city',axis=1)

In [175]:
dataset_sj.head()

,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
week_start_date,,,,,,,,,,,,,,,,,,,,
1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,299.8,295.9,32.00,73.365714,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,293.951429,300.9,296.4,17.94,77.368571,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,295.434286,300.5,297.3,26.10,82.052857,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,295.310000,301.4,297.0,13.90,80.337143,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,295.821429,301.9,297.5,12.20,80.460000,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6

In [176]:
train_target_sj = dataset_sj['total_cases']
train_target_sj.head()

week_start_date
1990-04-30    4
1990-05-07    5
1990-05-14    4
1990-05-21    3
1990-05-28    6
Name: total_cases, dtype: int64

In [177]:
def features_to_drop(df):
    df_corr = df.corr()
    threshold = 0.8
    corr_list = []
    j_columns = []
    for i in range(0,df.shape[1]):
        if i not in np.ravel(j_columns):
            for j in range(i+1,df.shape[1]):
                if (df_corr.iloc[i,j] >= threshold and df_corr.iloc[i,j] < 1) or (df_corr.iloc[i,j] < 0 and df_corr.iloc[i,j] <= -threshold):
                    corr_list.append([df_corr.iloc[i,j],i,j]) #store correlation and columns index
                    j_columns.append([j])
    for v,i,j in corr_list:
        print ("%s and %s = %.2f" % (i,j,v))
    return j_columns

In [178]:
j_columns_sj = features_to_drop(dataset_sj)

2 and 3 = 0.81
5 and 6 = 1.00
5 and 7 = 0.90
5 and 8 = 0.94
5 and 9 = 0.94
5 and 12 = 0.90
5 and 14 = 0.88
5 and 17 = 0.83

In [179]:
features_to_drop_sj = []
for i in j_columns_sj:
    features_to_drop_sj.append(dataset_sj.columns[i][0])

In [180]:
features_to_drop_sj

['ndvi_sw',
 'reanalysis_avg_temp_k',
 'reanalysis_dew_point_temp_k',
 'reanalysis_max_air_temp_k',
 'reanalysis_min_air_temp_k',
 'reanalysis_specific_humidity_g_per_kg',
 'station_avg_temp_c',
 'station_min_temp_c']

In [181]:
dataset_sj = dataset_sj.drop(features_to_drop_sj, axis=1)
testset_sj = testset_sj.drop(features_to_drop_sj, axis=1)

In [182]:
print(dataset_sj.shape)
print(testset_sj.shape)

(930, 12)
(260, 11)

In [183]:
j_columns_iq = features_to_drop(dataset_iq)

0 and 3 = 0.84
5 and 6 = 0.97
7 and 12 = 1.00
11 and 13 = -0.90

In [184]:
features_to_drop_iq = []
for i in j_columns_iq:
    features_to_drop_iq.append(dataset_iq.columns[i][0])

In [185]:
features_to_drop_iq

['ndvi_sw',
 'reanalysis_avg_temp_k',
 'reanalysis_specific_humidity_g_per_kg',
 'reanalysis_tdtr_k']

In [186]:
dataset_iq = dataset_iq.drop(features_to_drop_iq, axis=1)
testset_iq = testset_iq.drop(features_to_drop_iq, axis=1)

In [187]:
print(dataset_iq.shape)
print(testset_iq.shape)

(516, 16)
(156, 15)

In [188]:
dataset_sj.to_csv('custom_datasets/dataset_sj.csv')
dataset_iq.to_csv('custom_datasets/dataset_iq.csv')
testset_sj.to_csv('custom_datasets/testset_sj.csv')
testset_iq.to_csv('custom_datasets/testset_iq.csv')