# This kernel contains the solution codes for DengAI: Predicting Disease Spread competition of www.drivendata.org competition site

This competition requires us to predict the total number of cases of dengue for the cities San Juan and Iquitos for a certain number of years. The prediction for the total number of cases are min temp., max temp., precipitation amt. etc.

There are three files:-
1. train- It contains the predictors for the train dataset
2. train_labels- It contains the targets for the train dataset
3. test- It contains the predictors for the test dataset

Importing the necessary packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

Reading the train dataset, test dataset and the target for the train dataset from the train labels file

In [2]:
train = pd.read_csv("dengue_features_train.csv")
train_labels = pd.read_csv("dengue_labels_train.csv")
test = pd.read_csv("dengue_features_test.csv")

In [3]:
print("shape of train is "+str(train.shape))
print("shape of train_labels is "+str(train_labels.shape))
print("shape of test is "+str(test.shape))

shape of train is (1456, 24)
shape of train_labels is (1456, 4)
shape of test is (416, 24)

In [4]:
print("head of train")
train.head(1)

head of train

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.1226,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,299.8,295.9,32.0,73.365714,12.42,14.012857,2.628571,25.442857,6.9,29.4,20.0,16.0

In [5]:
print("head of train labels")
train_labels.head(1)

head of train labels

  city  year  weekofyear  total_cases
0   sj  1990          18            4

Our problem statement is to predict the number of total case of dengue in a city given the predictors like minimum air temperature, maximum air temperature etc. which are present in the train dataframe. The total_cases is our target and it is present in the train_labels dataframe.

In [6]:
train_target = train_labels['total_cases']
train_target.head()

0    4
1    5
2    4
3    3
4    6
Name: total_cases, dtype: int64

The submission format demands that there is city, year, week of year in the submission file. That is why we are storing them for future submission

In [7]:
test_city = test['city']
test_year = test['year']
test_weekofyear = test['weekofyear']

Let us see the characteristics of the continuous predictors using the describe function

In [8]:
train.describe()

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,1456.000000,1456.000000,1262.000000,1404.000000,1434.000000,1434.000000,1443.000000,1446.000000,1446.000000,1446.000000,1446.000000,1446.000000,1446.000000,1446.000000,1443.000000,1446.000000,1446.000000,1413.000000,1413.000000,1436.000000,1442.000000,1434.000000
mean,2001.031593,26.503434,0.142294,0.130553,0.203783,0.202305,45.760388,298.701852,299.225578,295.246356,303.427109,295.719156,40.151819,82.161959,45.760388,16.746427,4.903754,27.185783,8.059328,32.452437,22.102150,39.326360
std,5.408314,15.019437,0.140531,0.119999,0.073860,0.083903,43.715537,1.362420,1.261715,1.527810,3.234601,2.565364,43.434399,7.153897,43.715537,1.542494,3.546445,1.292347,2.128568,1.959318,1.574066,47.455314
min,1990.000000,1.000000,-0.406250,-0.456100,-0.015533,-0.063457,0.000000,294.635714,294.892857,289.642857,297.800000,286.900000,0.000000,57.787143,0.000000,11.715714,1.357143,21.400000,4.528571,26.700000,14.700000,0.000000
25%,1997.000000,13.750000,0.044950,0.049217,0.155087,0.144209,9.800000,297.658929,298.257143,294.118929,301.000000,293.900000,13.055000,77.177143,9.800000,15.557143,2.328571,26.300000,6.514286,31.100000,21.100000,8.700000
50%,2002.000000,26.500000,0.128817,0.121429,0.196050,0.189450,38.340000,298.646429,299.289286,295.640714,302.400000,296.200000,27.245000,80.301429,38.340000,17.087143,2.857143,27.414286,7.300000,32.800000,22.200000,23.850000
75%,2005.000000,39.250000,0.248483,0.216600,0.248846,0.246982,70.235000,299.833571,300.207143,296.460000,305.500000,297.900000,52.200000,86.357857,70.235000,17.978214,7.625000,28.157143,9.566667,33.900000,23.300000,53.900000
max,2010.000000,53.000000,0.508357,0.454429,0.538314,0.546017,390.600000,302.200000,302.928571,298.450000,314.000000,299.900000,570.500000,98.610000,390.600000,20.461429,16.028571,30.800000,15.800000,42.200000,25.600000,543.300000

We can see that there are some missing values for some varibles in the train dataframe

Let us see the characteristics of the continuous predictors using the describe function

In [9]:
train.describe(include = ['O'])

        city week_start_date
count   1456            1456
unique     2            1049
top       sj      2001-12-24
freq     936               2

There are some missing values in some variables in the test dataframe

In [10]:
test.describe()

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,416.000000,416.000000,373.000000,405.000000,415.000000,415.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,404.000000,404.000000,413.000000,407.000000,411.000000
mean,2010.766827,26.439904,0.126050,0.126803,0.207702,0.201721,38.354324,298.818295,299.353071,295.419179,303.623430,295.743478,42.171135,82.499810,38.354324,16.927088,5.124569,27.369587,7.810991,32.534625,22.368550,34.278589
std,1.434835,14.978257,0.164353,0.141420,0.079102,0.092028,35.171126,1.469501,1.306233,1.523099,3.101817,2.761109,48.909514,7.378243,35.171126,1.557868,3.542870,1.232608,2.449718,1.920429,1.731437,34.655966
min,2008.000000,1.000000,-0.463400,-0.211800,0.006200,-0.014671,0.000000,294.554286,295.235714,290.818571,298.200000,286.200000,0.000000,64.920000,0.000000,12.537143,1.485714,24.157143,4.042857,27.200000,14.200000,0.000000
25%,2010.000000,13.750000,-0.001500,0.015975,0.148670,0.134079,8.175000,297.751429,298.323214,294.335714,301.425000,293.500000,9.430000,77.397143,8.175000,15.792857,2.446429,26.514286,5.928571,31.100000,21.200000,9.100000
50%,2011.000000,26.000000,0.110100,0.088700,0.204171,0.186471,31.455000,298.547143,299.328571,295.825000,302.750000,296.300000,25.850000,80.330000,31.455000,17.337143,2.914286,27.483333,6.642857,32.800000,22.200000,23.600000
75%,2012.000000,39.000000,0.263329,0.242400,0.254871,0.253243,57.772500,300.240357,300.521429,296.643571,305.800000,298.275000,56.475000,88.328929,57.772500,18.174643,8.171429,28.319048,9.812500,33.900000,23.300000,47.750000
max,2013.000000,53.000000,0.500400,0.649000,0.453043,0.529043,169.340000,301.935714,303.328571,297.794286,314.100000,299.700000,301.400000,97.982857,169.340000,19.598571,14.485714,30.271429,14.725000,38.400000,26.700000,212.000000

In [11]:
test.describe(include = ['O'])

       city week_start_date
count   416             416
unique    2             269
top      sj      2012-02-26
freq    260               2

There are lots of missing values in the dataset. We are going to fill the missing values with the median but first of all we are going to merge train and test dataset

Let us join the train and the test dataframe so as to prevent doing the same operation on the two dataframes separately

In [12]:
df = train.append(test, ignore_index = True)

In [13]:
cats = []
for col in df.columns.values:
    if df[col].dtype == 'object':
        cats.append(col)
df_cat = df[cats]
df_cont = df.drop(cats, axis=1)

Filling the missing values of the continuous variables with the median

In [14]:
for col in df_cont.columns.values:
    df_cont[col] = df_cont[col].fillna(df[col].median())

Filling the missing values of the categorical variables with the most frequent value

In [15]:
for col in df_cat.columns.values:
    df_cat[col] = df_cat[col].fillna(df_cat[col].value_counts().index[0])

In [16]:
df_cont.describe()

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000
mean,2003.194979,26.489316,0.137161,0.129225,0.204569,0.202003,44.049428,298.727061,299.254251,295.287274,303.465224,295.727618,40.514605,82.224786,44.049428,16.788885,4.939560,27.232723,7.980486,32.474840,22.161271,37.994177
std,6.292268,15.006319,0.136878,0.122986,0.074606,0.085253,41.902200,1.382982,1.268428,1.523444,3.196198,2.601357,44.574757,7.182317,41.902200,1.542620,3.538402,1.262765,2.177313,1.938797,1.603384,44.668800
min,1990.000000,1.000000,-0.463400,-0.456100,-0.015533,-0.063457,0.000000,294.554286,294.892857,289.642857,297.800000,286.200000,0.000000,57.787143,0.000000,11.715714,1.357143,21.400000,4.042857,26.700000,14.200000,0.000000
25%,1999.000000,13.750000,0.049025,0.044000,0.153875,0.141671,9.530000,297.683929,298.283929,294.182500,301.000000,293.800000,12.500000,77.245000,9.530000,15.595714,2.357143,26.410714,6.371429,31.100000,21.100000,8.900000
50%,2004.000000,26.000000,0.127317,0.115200,0.197029,0.188229,36.640000,298.617143,299.300000,295.667143,302.600000,296.200000,27.080000,80.307143,36.640000,17.137143,2.871429,27.433333,7.200000,32.800000,22.200000,23.800000
75%,2008.000000,39.000000,0.234800,0.217529,0.250100,0.247235,66.562500,299.886071,300.264286,296.500000,305.500000,298.000000,52.700000,86.755714,66.562500,18.018929,7.732143,28.157143,9.550000,33.900000,23.300000,51.000000
max,2013.000000,53.000000,0.508357,0.649000,0.538314,0.546017,390.600000,302.200000,303.328571,298.450000,314.100000,299.900000,570.500000,98.610000,390.600000,20.461429,16.028571,30.800000,15.800000,42.200000,26.700000,543.300000

In [17]:
df_cat.head()

  city week_start_date
0   sj      1990-04-30
1   sj      1990-05-07
2   sj      1990-05-14
3   sj      1990-05-21
4   sj      1990-05-28

Let us drop the week_start_date variable. Its information has already been captured in the year and week of year variable

In [18]:
df_cat = df_cat.drop(['week_start_date'], axis = 1)

In [19]:
df_cat = pd.get_dummies(df_cat)

In [20]:
df = df_cont.join(df_cat)
df.shape

(1872, 24)

In [21]:
df.head()

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,city_iq,city_sj
0,1990,18,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,299.8,295.9,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,0,1
1,1990,19,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,293.951429,300.9,296.4,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,0,1
2,1990,20,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,295.434286,300.5,297.3,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,0,1
3,1990,21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,295.310000,301.4,297.0,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,0,1
4,1990,22,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,295.821429,301.9,297.5,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,0,1

In [22]:
df.shape

(1872, 24)

Spliting the dataframe into train and test for traing and prediction purposes

In [23]:
train = df.iloc[0:train.shape[0]]
test = df.iloc[train.shape[0]:]

We are going to use random forest, ridge, lasso and linear regression and see which one is making the best prediction. Our metric for comparison of regressors will be mean absolute error as per the competition's rules

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer, mean_absolute_error
scorer = make_scorer(mean_absolute_error, False)

# Lasso regression

Finding the optimal value of alpha for Lasso regression

In [25]:
cols=["alpha", "score","std_score"]
cv_score_Lasso = pd.DataFrame(columns=cols)

alphas = [0.0001,0.001, 0.05, 0.1, 1, 5, 10, 20, 30, 50]

for alpha in alphas:
    model_Lasso = Lasso(alpha = alpha)
    cv_score_Lasso_entry = np.sqrt(-cross_val_score(estimator=model_Lasso, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
    cv_score_Lasso_std = np.sqrt(-cross_val_score(estimator=model_Lasso, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
    cv_score_Lasso = cv_score_Lasso.append(pd.DataFrame([[alpha, cv_score_Lasso_entry,cv_score_Lasso_std]], columns=cols))
print(cv_score_Lasso)

     alpha     score  std_score
0   0.0001  4.546612   1.070107
0   0.0010  4.545479   1.070635
0   0.0500  4.511284   1.084180
0   0.1000  4.501705   1.086215
0   1.0000  4.476802   1.101882
0   5.0000  4.452273   1.086174
0  10.0000  4.452751   1.051487
0  20.0000  4.498429   0.951130
0  30.0000  4.534437   0.875703
0  50.0000  4.614846   0.821656

# Ridge regression

Finding the optimal value of alpha for Ridge regression

In [26]:
cols=["alpha", "score","std_score"]
cv_score_Ridge = pd.DataFrame(columns=cols)

alphas= [0.0001,0.001, 0.05, 0.1, 1, 5, 10, 20, 30, 50]

for alpha in alphas:
    model_Ridge = Ridge(alpha = alpha)
    cv_score_Ridge_entry = np.sqrt(-cross_val_score(estimator=model_Ridge, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
    cv_score_Ridge_std = np.sqrt(-cross_val_score(estimator=model_Ridge, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
    cv_score_Ridge = cv_score_Ridge.append(pd.DataFrame([[alpha, cv_score_Ridge_entry,cv_score_Ridge_std]], columns=cols))
print(cv_score_Ridge)

     alpha     score  std_score
0   0.0001  4.546128   1.071422
0   0.0010  4.546119   1.071423
0   0.0500  4.545647   1.071459
0   0.1000  4.545184   1.071492
0   1.0000  4.539541   1.071789
0   5.0000  4.527794   1.073727
0  10.0000  4.520678   1.075787
0  20.0000  4.513753   1.078576
0  30.0000  4.510251   1.080301
0  50.0000  4.506095   1.082859

# Linear regression

In [27]:
model_linear = LinearRegression()
cv_score_Linear = np.sqrt(-cross_val_score(estimator=model_linear, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
cv_score_Linear_std = np.sqrt(-cross_val_score(estimator=model_linear, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
print(cv_score_Linear,cv_score_Linear_std)

4.54508561175 1.07155422366

# Random forest regressor

In [28]:
model_RFR = RandomForestRegressor(n_estimators=100, random_state=8)
cv_score_RFR = np.sqrt(-cross_val_score(estimator=model_RFR, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
cv_score_RFR_std = np.sqrt(-cross_val_score(estimator=model_RFR, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
print(cv_score_RFR,cv_score_RFR_std)

4.24695350351 1.37331309893

Out of the all the models, Random forest regressor is producing the best prediction

In [29]:
df.describe()

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,city_iq,city_sj
count,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000,1872.000000
mean,2003.194979,26.489316,0.137161,0.129225,0.204569,0.202003,44.049428,298.727061,299.254251,295.287274,303.465224,295.727618,40.514605,82.224786,44.049428,16.788885,4.939560,27.232723,7.980486,32.474840,22.161271,37.994177,0.361111,0.638889
std,6.292268,15.006319,0.136878,0.122986,0.074606,0.085253,41.902200,1.382982,1.268428,1.523444,3.196198,2.601357,44.574757,7.182317,41.902200,1.542620,3.538402,1.262765,2.177313,1.938797,1.603384,44.668800,0.480451,0.480451
min,1990.000000,1.000000,-0.463400,-0.456100,-0.015533,-0.063457,0.000000,294.554286,294.892857,289.642857,297.800000,286.200000,0.000000,57.787143,0.000000,11.715714,1.357143,21.400000,4.042857,26.700000,14.200000,0.000000,0.000000,0.000000
25%,1999.000000,13.750000,0.049025,0.044000,0.153875,0.141671,9.530000,297.683929,298.283929,294.182500,301.000000,293.800000,12.500000,77.245000,9.530000,15.595714,2.357143,26.410714,6.371429,31.100000,21.100000,8.900000,0.000000,0.000000
50%,2004.000000,26.000000,0.127317,0.115200,0.197029,0.188229,36.640000,298.617143,299.300000,295.667143,302.600000,296.200000,27.080000,80.307143,36.640000,17.137143,2.871429,27.433333,7.200000,32.800000,22.200000,23.800000,0.000000,1.000000
75%,2008.000000,39.000000,0.234800,0.217529,0.250100,0.247235,66.562500,299.886071,300.264286,296.500000,305.500000,298.000000,52.700000,86.755714,66.562500,18.018929,7.732143,28.157143,9.550000,33.900000,23.300000,51.000000,1.000000,1.000000
max,2013.000000,53.000000,0.508357,0.649000,0.538314,0.546017,390.600000,302.200000,303.328571,298.450000,314.100000,299.900000,570.500000,98.610000,390.600000,20.461429,16.028571,30.800000,15.800000,42.200000,26.700000,543.300000,1.000000,1.000000

We are going to find out which variables are correlated and we are going to remove some correlated variables. The threshold for correlation has been set at 0.8

In [30]:
# Correlation tells relation between two attributes.
# Correlation requires continous data. Hence, ignore categorical data
# Calculates pearson co-efficient for all combinations
df_cont_corr = df_cont.corr()
# Set the threshold to select only highly correlated attributes
threshold = 0.8
# List of pairs along with correlation above threshold
corr_list = []
j_columns = []
#Search for the highly correlated pairs
for i in range(0,df_cont.shape[1]):
    if i not in np.ravel(j_columns):
        for j in range(i+1,df_cont.shape[1]):
            if (df_cont_corr.iloc[i,j] >= threshold and df_cont_corr.iloc[i,j] < 1) or (df_cont_corr.iloc[i,j] < 0 and df_cont_corr.iloc[i,j] <= -threshold):
                corr_list.append([df_cont_corr.iloc[i,j],i,j]) #store correlation and columns index
                j_columns.append([j])

In [31]:
j_columns = np.ravel(j_columns)
j_columns

array([ 3,  5,  8, 15, 16, 18, 16])

j_columns contain the variables that we are planning to drop

In [32]:
for v,i,j in corr_list:
    print ("%s and %s = %.2f" % (i,j,v))

2 and 3 = 0.81
4 and 5 = 0.82
7 and 8 = 0.90
9 and 15 = 1.00
10 and 16 = 0.92
10 and 18 = 0.82
11 and 16 = -0.82

In [33]:
features_to_drop = []
for i in j_columns:
    features_to_drop.append(df_cont.columns[i])

In [34]:
features_to_drop

['ndvi_nw',
 'ndvi_sw',
 'reanalysis_avg_temp_k',
 'reanalysis_specific_humidity_g_per_kg',
 'reanalysis_tdtr_k',
 'station_diur_temp_rng_c',
 'reanalysis_tdtr_k']

We are going to drop the features which are correlated and they are in the array features_to_drop

In [35]:
df_cont = df_cont.drop(features_to_drop, axis = 1)

In [36]:
df = df_cont.join(df_cat)
df.shape

(1872, 18)

In [37]:
train = df.iloc[0:train.shape[0]]
test = df.iloc[train.shape[0]:]

In [38]:
cols=["alpha", "score","std_score"]
cv_score_Lasso = pd.DataFrame(columns=cols)

alphas = [0.0001,0.001, 0.05, 0.1, 1, 5, 10, 20, 30, 50]

for alpha in alphas:
    model_Lasso = Lasso(alpha = alpha)
    cv_score_Lasso_entry = np.sqrt(-cross_val_score(estimator=model_Lasso, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
    cv_score_Lasso_std = np.sqrt(-cross_val_score(estimator=model_Lasso, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
    cv_score_Lasso = cv_score_Lasso.append(pd.DataFrame([[alpha, cv_score_Lasso_entry,cv_score_Lasso_std]], columns=cols))
print(cv_score_Lasso)

     alpha     score  std_score
0   0.0001  4.521180   1.097641
0   0.0010  4.520610   1.097785
0   0.0500  4.507330   1.097727
0   0.1000  4.504879   1.096073
0   1.0000  4.490790   1.090463
0   5.0000  4.450086   1.078228
0  10.0000  4.445367   1.045274
0  20.0000  4.506100   0.936902
0  30.0000  4.514400   0.891055
0  50.0000  4.614846   0.821656

In [39]:
cols=["alpha", "score","std_score"]
cv_score_Ridge = pd.DataFrame(columns=cols)

alphas= [0.0001,0.001, 0.05, 0.1, 1, 5, 10, 20, 30, 50]

for alpha in alphas:
    model_Ridge = Ridge(alpha = alpha)
    cv_score_Ridge_entry = np.sqrt(-cross_val_score(estimator=model_Ridge, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
    cv_score_Ridge_std = np.sqrt(-cross_val_score(estimator=model_Ridge, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
    cv_score_Ridge = cv_score_Ridge.append(pd.DataFrame([[alpha, cv_score_Ridge_entry,cv_score_Ridge_std]], columns=cols))
print(cv_score_Ridge)

     alpha     score  std_score
0   0.0001  4.521495   1.097394
0   0.0010  4.521492   1.097395
0   0.0500  4.521355   1.097410
0   0.1000  4.521217   1.097426
0   1.0000  4.519114   1.097634
0   5.0000  4.513844   1.097786
0  10.0000  4.510546   1.097623
0  20.0000  4.506882   1.097463
0  30.0000  4.504576   1.097550
0  50.0000  4.501558   1.097945

In [40]:
model_linear = LinearRegression()
cv_score_Linear = np.sqrt(-cross_val_score(estimator=model_linear, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
cv_score_Linear_std = np.sqrt(-cross_val_score(estimator=model_linear, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
print(cv_score_Linear,cv_score_Linear_std)

4.52631938943 1.10171711372

In [41]:
model_RFR = RandomForestRegressor(n_estimators = 100, random_state=8)
cv_score_RFR = np.sqrt(-cross_val_score(estimator=model_RFR, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
cv_score_RFR_std = np.sqrt(-cross_val_score(estimator=model_RFR, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
print(cv_score_RFR,cv_score_RFR_std)

4.24699178439 1.3488285087

The removal of correlated variables did not have much of an impact on the mean absolute error of random forest

Let us see if normalizing the variables can decrease the mean absolute error further

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
df_cont_norm = df_cont
for col in df_cont_norm.columns.values:
    df_cont_norm[col] = StandardScaler().fit_transform(df_cont_norm[col].reshape(1,-1))[0]

In [44]:
df_norm = df_cont_norm.join(df_cat)

In [45]:
train = df_norm.iloc[0:train.shape[0]]
test = df_norm.iloc[train.shape[0]:]

In [46]:
cols=["alpha", "score","std_score"]
cv_score_Lasso = pd.DataFrame(columns=cols)

alphas = [0.0001,0.001, 0.05, 0.1, 1, 5, 10, 20, 30, 50]

for alpha in alphas:
    model_Lasso = Lasso(alpha = alpha)
    cv_score_Lasso_entry = np.sqrt(-cross_val_score(estimator=model_Lasso, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
    cv_score_Lasso_std = np.sqrt(-cross_val_score(estimator=model_Lasso, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
    cv_score_Lasso = cv_score_Lasso.append(pd.DataFrame([[alpha, cv_score_Lasso_entry,cv_score_Lasso_std]], columns=cols))
print(cv_score_Lasso)

     alpha     score  std_score
0   0.0001  4.369397   1.359431
0   0.0010  4.369426   1.359337
0   0.0500  4.371004   1.354215
0   0.1000  4.372623   1.349029
0   1.0000  4.426794   1.226103
0   5.0000  4.800391   0.743477
0  10.0000  4.811716   0.751422
0  20.0000  4.811716   0.751422
0  30.0000  4.811716   0.751422
0  50.0000  4.811716   0.751422

In [47]:
cols=["alpha", "score","std_score"]
cv_score_Ridge = pd.DataFrame(columns=cols)

alphas= [0.0001,0.001, 0.05, 0.1, 1, 5, 10, 20, 30, 50]

for alpha in alphas:
    model_Ridge = Ridge(alpha = alpha)
    cv_score_Ridge_entry = np.sqrt(-cross_val_score(estimator=model_Ridge, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
    cv_score_Ridge_std = np.sqrt(-cross_val_score(estimator=model_Ridge, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
    cv_score_Ridge = cv_score_Ridge.append(pd.DataFrame([[alpha, cv_score_Ridge_entry,cv_score_Ridge_std]], columns=cols))
print(cv_score_Ridge)

     alpha     score  std_score
0   0.0001  4.369394   1.359441
0   0.0010  4.369394   1.359440
0   0.0500  4.369409   1.359387
0   0.1000  4.369424   1.359333
0   1.0000  4.369694   1.358365
0   5.0000  4.370875   1.354112
0  10.0000  4.372341   1.348921
0  20.0000  4.375711   1.338132
0  30.0000  4.380270   1.325911
0  50.0000  4.388904   1.303030

In [48]:
model_linear = LinearRegression()
cv_score_Linear = np.sqrt(-cross_val_score(estimator=model_linear, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
cv_score_Linear_std = np.sqrt(-cross_val_score(estimator=model_linear, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
print(cv_score_Linear,cv_score_Linear_std)

4.36939363892 1.35944133799

In [49]:
model_RFR = RandomForestRegressor(n_estimators = 500,random_state=8)
cv_score_RFR = np.sqrt(-cross_val_score(estimator=model_RFR, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).mean()
cv_score_RFR_std = np.sqrt(-cross_val_score(estimator=model_RFR, X=train, y=np.ravel(train_target), cv=10, scoring = scorer)).std()
print(cv_score_RFR,cv_score_RFR_std)

4.36907590913 1.35935181452

We are going to select Random Forest as our model. We are going to use on non normalized data.

In [50]:
train = df.iloc[0:train.shape[0]]
test = df.iloc[train.shape[0]:]

In [51]:
model_RFR.fit(train, np.ravel(train_target))

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=500, n_jobs=1, oob_score=False, random_state=8,
           verbose=0, warm_start=False)

In [52]:
predictions = model_RFR.predict(test)

In [53]:
predictions = predictions.astype(int)

In [54]:
submission = pd.DataFrame(predictions, columns=["total_cases"])
submission.insert(0, 'city', test_city)
submission.insert(1, 'year', test_year)
submission.insert(2, 'weekofyear', test_weekofyear)
submission.reset_index()
submission.to_csv('Submission.csv', index = False)